<form id="FormEditRoomType" style="margin:0px;">
  <div class = "DialogEditRoomType">
    <div class="HeaderDialogEditBilling">
      <div class="HeaderLogoEditBilling"></div>
      <div class="TitleHeaderDialogEditBilling"></div>
    </div>
    <div class="BodyDialogEditBilling" style="margin-top:30px">
        <div id="desc"></div>
      <table width="100%">
        <tbody>
          <tr>
            <td align="right" width="30%" style="font-size:14px"><span id="settingname"></span></td>
            <td style="padding-left:10px">
                <input type="hidden" name="roomType" id="settingId"/>
                <input type="text" name="roomType" id="settingNameValue"/>
            </td>
            <td width="5%"></td>
          </tr>
          <tr>
            <td colspan="3">
              <div style="margin-top:10px; text-align: center;">
                <p style="font-size:11px">
                    <input type="button" name="save" value="Simpan" class="UpdateSetting" onclick="updateSetting()"/>
		<span id="batalArea">
                    atau
                    <span id="CancelEditRoomType" onclick="closeDialogEditRoomType()">Batal</span>
                  </span>
                </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>